.skills-wrapper {
  background-color: white;
  text-align: center;
  padding: 20px 40px;
}

.skills-wrapper h1 {
  color: black;
}

.skills {
  display: flex;
  justify-content: space-around;
  padding: 40px 20px;
  border-top: solid lightgray 1px;
  margin-top: 20px;
}

.skill {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.skill .image {
  padding: 15px;
  margin: 10px
}

.image img {
  width: 100px;
}

.skill p {
  color: black;
  font-size: 20px;
}
